/* Main Heading */
h1 {
    font-size: 3rem !important;
    padding: 0 1rem !important;
}

/* Icons */
i {
    font-size: 2.5rem;
}

/* Weather Info -- Temp */
.weather__info__temp {
    padding: 1rem;
}

/* Weather Info Container */
.weather__info {
    align-items: flex-end;
}
